/* General Styles for Portfolio Section */
.portfolio-section {
    padding: 4px;
    background-color: #f7f7f7;
    font-family: 'Verdana', sans-serif;
    padding-bottom: 50px;
}

.portfolio-title {
    text-align: center;
    font-size: 2.5em; /* Reduced font size */
    margin-bottom: 20px;
    color: #333; /* Changed to black color */
    font-family: 'Georgia', serif;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.portfolio-subtitle {
    text-align: center;
    font-size: 1.2em; /* Slightly reduced font size */
    color: #333; /* Changed to black color */
    margin-bottom: 40px;
    font-style: italic;
    font-family: 'Arial', sans-serif;
}

.portfolio-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.portfolio-card {
    width: 300px;
    height: 400px;
    perspective: 1000px;
}

.card-front, .card-back {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
    transition: transform 0.6s;
    position: absolute;
}

.card-front {
    background-color: #05273d;
    padding: 20px;
    text-align: center;
}

.card-back {
    background-color:#241f1f;
    transform: rotateY(180deg);
    padding: 20px;
}

.portfolio-card:hover .card-front {
    transform: rotateY(180deg);
}

.portfolio-card:hover .card-back {
    transform: rotateY(360deg);
}

.portfolio-item-title {
    font-size: 1.3em; /* Reduced font size */
    margin-bottom: 15px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.portfolio-short-description, .portfolio-details {
    font-size: 0.95em; /* Slightly reduced font size */
    text-align: center;
    color: #eee; /* Slightly lighter text color */
}

/* Responsive Design */
@media (max-width: 768px) {
    .portfolio-grid {
        flex-direction: column;
        align-items: center;
    }
}
